*{
  font-family: 'Oswald', sans-serif;
  color: rgb(70, 70, 70);
  transition: .5s;
}
*:focus{
  outline: none;
}

body{
  margin: 0px;
  background-color: rgb(240, 128, 68)
}

h1{
  text-align: center;
  font-size: 3em;
}

.filter-box{

}

.searchbar{
  padding: 1em;
}

.searchbar .text_field{
  width: 50%;
  border-radius: 2em;
}

.text_field {
  padding: 1em;
}

.play_button, .button{
  padding: 1em;
  background-color: rgb(12, 53, 73);
  color: black;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.saluto_utente{
  text-align: center;
  margin: 0;
  margin-right: 2em;
}

.container{
  padding: 1em;
  /* height: 80em; */
}

.content {
  padding: 4em;
  padding-top: 0;
  background-color: #fff;
  border-radius: 10em;
}

.centered{
  text-align: center;
}

.navigation_bar{
    background-color: rgb(240, 128, 68);
    background-image: url(../assets/header.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 1.5em;
}

.logo_nav_box{
  text-align: center;
  display: block;
}

.logo_nav{
  max-width: 100%;
  max-height: fit-content;
}

.header_img{
  width: 100%;
}

.menu_elements{
  position: relative;
  display: inline;
  top: -2em;
}

.login{
  margin-left: 1em;
}

.navigation_bar .nav_item{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 10px;
}


.navigation_bar .nav_item:hover, .current_page{
  padding: 1em !important;
  background-color: rgb(12, 60, 84) !important;
  color: rgb(243,243,243) !important;
  text-decoration: none !important;
  border-radius: 10px !important;
  box-shadow: 1px 1px 10px grey !important;
  border: none !important;
}

.fas, .far {
  margin-right: 0.5em;
  color: rgb(70, 70, 70);
}

.nav_item:hover .fas, .nav_item:hover .far {
  color: white;
}

.current_page .fas, .current_page .far{
  color: white;
}

/* Homepage */

.registration_form {
  border-radius: 20px;
  padding: 2em;
  box-shadow: 2px 2px 10px grey;
  margin: 0 auto;
  width: 50%;
  background-color: rgb(243,243,243);
}
#listen_live_radio_box{
    float: left;
}

#listen_live_radio{
  width: 23em;
  margin-right: 1em;
}

audio {
  width: 40em;
}

.registration_form input, .registration_form button, .registration_form textarea, .standard_button {
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: 10px;
  display: block;
  width: -webkit-fill-available;
  margin: 0.5em;
}

.registration_form .registration_form_title {
  background-color: rgb(240, 128, 68);
  padding: 1em;
  margin: -2em;
  border-radius: 20px;
  background-color: rgb(12, 60, 84);
}

.registration_form .registration_form_title h3 {
  color: white;
}

.registration_form button, .standard_button {
  border: none;
  background-color: rgb(240, 128, 68);
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}

.registration_form button:hover, .standard_button:hover {
  color: white;
  background-color: rgb(12, 60, 84);
}

.navigation_elements{
  line-height: 4em;
  position: relative;
  bottom: -1em;
}

.navigation_elements_items, .audio_player{
  text-align: center;
}

.audio_player img{
  width: 70%;
}

.audio_player h3, .audio_player p{
  display: inline;
  margin: 1em;
  height: 1em;
  color: white;
}

.audio_player audio{
  height: 2em;
  width: 70%;
}

.audio_player{
  position: fixed;
  bottom: 0;
  background-color: rgb(12, 53, 73);
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 4em;
  width: 100%;
}

.shadow {
  box-shadow: 2px 2px 10px grey;
}

.border_radius{
  border-radius: 1em;
}

.news_item{
  /* border: black solid 1px; */
  padding: 1em;
  text-align: center;
  /* margin-bottom: 5em; */
  margin: 1em;
  width: 14em;
  height: 25em;
  display: inline-block;
  background-color: white;
}

.news_item img{
  width: 14em;
  height: 14em;
}

.news_item p {
  overflow-y: auto;
  height: 7em;
}

.news_item_description{
  overflow-y: auto;
  white-space: initial;
}

.box_audio{
  width: 20em;
}

footer{
  text-align: center;
}
footer p{
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0;
  margin-bottom: 4em;
}

.form_container{
  margin-top: 2em;
}

.news_box {
  overflow-x: auto;
  height: 33em;
  width: 100%;
  white-space: nowrap;
  background-color: rgb(243,243,243);
  border-radius: 1em;
}

/* Il team */
.team_list .goals{
  text-align: center;
}

.team_list ol{
  margin: 0 auto;
  width: 7em;
}

.goals ul{
  margin: 0 auto;
  width: 20em;
}

/* Podcast */
.palinsesto_table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50em;
  margin: 0 auto;
}

.palinsesto_table td {
  border: 1px solid rgb(136, 136, 136);
  text-align: left;
  padding: 8px;
}

.palinsesto_table tr:nth-child(odd) {
  border: 1px solid rgb(136, 136, 136);
  background-color: #dddddd;
  border: 1px solid white;
}

/* pollings */
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 30%;
  height: 13px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(240, 128, 68);
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(240, 128, 68);
  cursor: pointer;
}

fieldset{
  padding-left: 3em;
}

/* Partners */
.logo_partner{
  display: block;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo_partner img{
  height: 5em;
}

/* barre */

*::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 5px;
}

@media (max-width: 1270px) {
  audio{
    width: 20em;
  }

  fieldset{
    padding-left: 1em;
  }

   #listen_live_radio{
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .nav_item{
    display: block;
    height: 1em;
    line-height: 1em;
  }

  .logo_nav{
    display: block;
    margin: 0 auto;
  }
  .login{
    margin-left: 0;
  }

  .audio_player{
    height: 4em;
    position: fixed;
  }
  .content{
    padding: 0;
    border-radius: 1em;
    width: 100%;
    padding-bottom: 2em;
  }

  .registration_form{
    width: 70%;
  }
}
